<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>
<div class="container">
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-person-booth"></i>
					</div>
					<h3 class="card-title col-sm-6" th:text="${inmueble.tipo}"></h3>
					
					<div class="col-sm-4">
						<a th:href="@{/inmueble/delete/} + ${inmueble.idinmueble}"
							class="btn btn-danger"
							onclick="return confirm('¿Desea eliminar este Inmueble?');"><i
							class="fas fa-trash-alt"></i>&nbsp;Eliminar</a> <a
							class="btn btn-success" th:href="@{/inmueble/list}"><i
							class="fas fa-arrow-circle-left"></i>&nbsp;Volver</a>
					</div>
				</div>
				<hr />
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-directions"></i><label class="h6 col-form-label">&nbsp;Direcci&oacute;n:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.direccion}"></h5>
					</div>
				</div>	
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-road"></i><label
							class="h6 col-form-label">&nbsp;Barrio:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.barrio}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-vote-yea"></i><label
							class="h6 col-form-label">&nbsp;A&ntilde;o:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.anio}"></h5>
					</div>
				</div>	
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-chart-area"></i><label
							class="h6 col-form-label">&nbsp;Superficie:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.superficie}"></h5>
					</div>
				</div>	
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-person-booth"></i><label
							class="h6 col-form-label">&nbsp;Dormitorios:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.dormitorios}"></h5>
					</div>
				</div>	
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-warehouse"></i><label
							class="h6 col-form-label">&nbsp;Garage:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.garage}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-dollar-sign"></i><label
							class="h6 col-form-label">&nbsp;Precio:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.precio}"></h5>
					</div>
				</div>	
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-map-marked-alt"></i><label
							class="h6 col-form-label">&nbsp;Ciudad:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.ciudad.nombre}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-users"></i><label
							class="h6 col-form-label">&nbsp;Propietario:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.propietario.nombre}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-users"></i><label
							class="h6 col-form-label">&nbsp;Estado:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.estado}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-comment"></i> <label
							class="h6 col-form-label">&nbsp;Observaciones:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${inmueble.observaciones}"></h5>
					</div>
				</div>		
				<hr />		
			</div>
		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>




