<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
table, th, tr , td {
  border: 3px solid black;
}
</style>
</head>
<body>
<header th:replace="layout :: header"></header>
	<div class="container">
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row" >
					<div class="content col-sm-1">
						<i class="fa fa-th-large" style="font-size:36px;color:blue"></i>
					</div>
					<h3 class="card text-left" style="color:black" th:text="${title}"></h3>
					<div class="col-sm-1"></div>
				</div>
				<hr />			
				<table class="table" style="background-color:OLDLACE;color:black" >
					  <thead >
						<tr>
							<th><i class="fas fa-directions" style="font-size:36px;color:green"></i></th>
							<th><i class="fas fa-road" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-vote-yea"style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-person-booth" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-chart-area" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-person-booth" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-warehouse" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-dollar-sign" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-map-marked-alt" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-users" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-comment" style="font-size:36px;color:black"></i></th>
							<th><i class="fas fa-bookmark" style="font-size:36px;color:FUCHSIA"></i></th>
						</tr>
						<tr>
							<th>Direccion</th>
							<th>Barrio</th>
							<th>A&ntilde;o</th>
							<th>Tipo</th>
							<th>Superficie</th>
							<th>Dormitorios</th>
							<th>Garage</th>
							<th>Precio</th>
							<th>Ciudad</th>
							<th>Propietario</th>
							<th>Estado</th>
							<th>Observaciones</th>
							<th><a class="btn btn-sm btn-success"
								th:href="@{/inmueble/form}"><i class="fas fa-clipboard"></i>&nbsp;Nuevo</a></th>
								<th><a class="btn btn-sm btn-success"
								th:href="@{/inmueble/reports}"><i class="fas fa-clipboard"></i>&nbsp;Reporte</a></th>
								

						</tr>
					</thead>
					<tbody>
						<tr th:each="inm: ${inmuebles}">
							<td th:text="${inm.direccion}"></td>
							<td th:text="${inm.barrio}"></td>
							<td th:text="${inm.anio}"></td>
							<td th:text="${inm.tipo}"></td>
							<td th:text="${inm.superficie}"></td>
							<td th:text="${inm.dormitorios}"></td>
							<td th:text="${inm.garage}"></td>
							<td th:text="${inm.precio}"></td>
							<td th:text="${inm.ciudad.nombre}"></td>
							<td th:text="${inm.propietario.nombre}"></td>
							<td th:text="${inm.estado}"></td>
							<td th:text="${inm.observaciones}"></td>
							<td><a class="btn btn-sm btn-warning"
								th:href="@{/inmueble/form/} + ${inm.idinmueble}"><i class="fas fa-pen-square" style="font-size:18px"></i></a> <a class="btn btn-sm btn-primary"
								th:href="@{/inmueble/card/} + ${inm.idinmueble}"><i class="fab fa-tripadvisor" style="font-size:18px"></i></a></td>
								
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>