<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>
<div class="container">
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-calendar-times"></i>
					</div>
					<h3 class="card-title col-sm-6" th:text="${detallepago.mes}"></h3>
					
					<div class="col-sm-4">
						<a th:href="@{/detallepago/delete/} + ${detallepago.iddetalle}"
							class="btn btn-danger"
							onclick="return confirm('¿Desea eliminar este Pago?');"><i
							class="fas fa-trash-alt"></i>&nbsp;Eliminar</a> <a
							class="btn btn-success" th:href="@{/detallepago/list}"><i
							class="fas fa-arrow-circle-left"></i>&nbsp;Volver</a>
					</div>
				</div>
				<hr />
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="far fa-money-bill-alt"></i> <label class="h6 col-form-label">&nbsp;Arrendatario:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${detallepago.alquiler.arrendatario.nombre}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="far fa-money-bill-alt"></i> <label class="h6 col-form-label">&nbsp;Inmueble:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${detallepago.alquiler.inmueble.tipo}"></h5>
					</div>
				</div>
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="far fa-money-bill-alt"></i> <label class="h6 col-form-label">&nbsp;Valor:</label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${detallepago.valor}"></h5>
					</div>
				</div>	
				<div class="form-group row">
					<div class="content col-sm-3">
						<i class="fas fa-piggy-bank"></i> <label
							class="h6 col-form-label">&nbsp;Estado de Pago: </label>
					</div>
					<div class="col-sm-4">
						<h5 class="card-text" th:text="${detallepago.estado}"></h5>
					</div>
				</div>
				<hr />		
			</div>
		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>




