<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
table, th, tr , td {
  border: 3px solid black;
}
</style>
</head>
<body>
<header th:replace="layout :: header"></header>
	<div class="container">
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row" >
					<div class="content col-sm-1">
						<i class="fa fa-th-large" style="font-size:36px;color:blue"></i>
					</div>
					<h3 class="card text-left" style="color:black" th:text="${title}"></h3>
					<div class="col-sm-1"></div>
				</div>
				<hr />			
				<table class="table" style="background-color:OLDLACE;color:black" >
					  <thead >
						<tr>
							<th><i class="fas fa-calendar-times" style="font-size:36px;color:SPRINGGREEN"></i></th>
							<th><i class="far fa-money-bill-alt" style="font-size:36px;color:FUCHSIA"></i></th>
							<th><i class="fas fa-money-check-alt" style="font-size:36px;color:FUCHSIA"></i></th>
							<th><i class="fas fa-book-reader" style="font-size:36px;color:FUCHSIA"></i></th>
						</tr>
						<tr>
							<th>Nombre Arrendatario</th>
							<th>Tipo de Inmueble</th>
							<th>Mes</th>
							<th>Valor</th>
							<th>Estado de Pago</th>
							<th><a class="btn btn-sm btn-success"
								th:href="@{/detallepago/form}"><i class="fas fa-clipboard"></i>&nbsp;Nuevo</a></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="det: ${detallepagos}">
							<td th:text="${det.alquiler.arrendatario.nombre}"></td>
							<td th:text="${det.alquiler.inmueble.tipo}"></td>
							<td th:text="${det.mes}"></td>
							<td th:text="${det.valor}"></td>
							<td th:text="${det.estado}"></td>
							<td><a class="btn btn-sm btn-warning"
								th:href="@{/detallepago/form/} + ${det.iddetalle}"><i class="fas fa-pen-square" style="font-size:18px"></i></a> <a class="btn btn-sm btn-primary"
								th:href="@{/detallepago/card/} + ${det.iddetalle}"><i class="fab fa-tripadvisor" style="font-size:18px"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>